[project]
	description = testRepo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vasilikie
[access "refs/for/refs/*"]
	read = group user/vasilikie
	push = group user/vasilikie
	label-Code-Review = -2..+2 group user/vasilikie
	label-Verified = -1..+1 group user/vasilikie
	rebase = group user/vasilikie
	removeReviewer = group user/vasilikie
	submit = group user/vasilikie
[access "refs/heads/*"]
	read = group user/vasilikie
	create = group user/vasilikie
	push = +force group user/vasilikie
	pushMerge = group user/vasilikie
[access "refs/tags/*"]
	push = group user/vasilikie
	push = +force group user/vasilikie
